* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: red;
  border-radius: 16px;
  padding: 40px 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}
