@font-face {
  font-family: "My Inter";
  src: url("../fonts/Inter.woff2") format("woff2"),
    url("../fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "My Fraunces";
  src: url("../fonts/Fraunces.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "My Bitcount";
  src: url("../fonts/Bitcount.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

.inter-1 {
  font-family: "My Inter";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.fraunces-1 {
  font-family: "My Fraunces";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_center {
  display: flex;
  align-items: center;
}

.base_but {
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
}

.base_but:hover {
  border: 1px solid #000;
}

/* .block_a {
  position: relative;
  z-index: 2;
  background-color: red;
  width: 100px;
  height: 100px;
}

.block_d {
  position: relative;
  z-index: 1;
  background-color: yellow;
  width: 70px;
  height: 70px;
}

.block_b {
  position: relative;
  z-index: 1;
  background-color: green;
  width: 100px;
  height: 100px;
}

.block_c {
  position: relative;
  z-index: 200;
  background-color: blue;
  width: 70px;
  height: 70px;
} */

/* .tooltip {
  width: 200px;
  padding-bottom: 15px;
  position: relative;
  z-index: 0;
}

.tooltip::before {
  position: absolute;
  z-index: -1;
  bottom: 8px;
  left: 20%;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: red;
}

.tooltip .tooltip_content {
  background-color: red;
} */

/* .pseudo_elements:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: blue;
}

.pseudo_elements:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
} */
