.block_1 {
  margin: 0 auto;
  margin-top: 70px;
  width: 1130px;
  height: 433.58px;

  display: flex;
  justify-content: space-between;
}

.block_1 h1 {
  line-height: 63.8px;
  font-size: 58px;
  letter-spacing: 0.2px;
  margin-bottom: 21px;
  color: #1f1f1f;
  font-family: "My Bitcount", sans-serif;
  font-weight: 800;
}

.block_1 p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 29px;
  font-family: "My Inter", sans-serif;
  font-weight: 100;
}

.block_1 .block_1_description {
  margin-top: 56px;
  max-width: 525px;
}
