.flex_center {
  display: flex;
  align-items: center;
}

.base_button {
  height: 36px;
  padding: 6px 20px;
  cursor: pointer;
  border: none;

  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0.2px;
}
