/* @font-face {  font-family: "My Inter";  src: url("../fonts/Inter.woff2") format("woff2"),    url("../fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "My Fraunces";
  src: url("../fonts/Fraunces.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "My Bitcount";
  src: url("../fonts/Bitcount.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
